* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.main-container {
    width: 100%;
    min-height: 100vh;
}

.container-nav {
    width: 100%;
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-box {
    width: 95%;
    min-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-title {
    width: 16%;
}

.box-list {
    width: 55%;
    min-height: 3rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #00CA88;
    text-shadow: 1px 1px 1px #00000029;
    font-size: 1.625rem;
    font-family: 'Quicksand', sans-serif;
}

.container-page {
    width: 100%;
    min-height: 100vh;
}

.box-home {
    width: 100%;
    min-height: 90vh;
    background-image: url('../assets/screens/cachorro.png');
    background-size: cover;
    background-position-y: 38rem;
}

.home-container {
    width: 100%;
    min-height: 90vh;
    background-color: #00B77A60;
    display: flex;
}

.side-box {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.box-images {
    width: 45%;
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.side-line {
    width: 1%;
    min-height: 18vh;
    background-color: white;
}

.side-text {
    font-size: 1.25rem;
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-shadow: 1px 1px 1px #00000029;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
}

.box-content {
    width: 76%;
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-two {
    color: white;
    min-height: 8rem;
    text-shadow: 1px 1px 1px #00000029;
    font-size: 4.6875rem;
    font-family: 'Quicksand', sans-serif;
}

.text, .text-two {
    color: rgb(255, 255, 255);
    font-size: 1.375rem;
    width: 72%;
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
}

.box-buttons {
    width: 76%;
    min-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.click {
    width: 30%;
    min-height: 2.6rem;
    background-color: #00CA88;
    color: white;
    border-radius: 1.2rem;
    border-style: none;
    font-size: 1.375rem;
    text-shadow: 1px 1px 1px #00000029;
    box-shadow: 1px 1px 1px #00000029;
    font-family: 'Quicksand', sans-serif;
}

.click-two {
    width: 48%;
    min-height: 2.6rem;
    background-color: white;
    color:  #00CA88;
    border-radius: 1.2rem;
    border-style: none;
    font-size: 1.375rem;
    text-shadow: 1px 1px 1px #00000029;
    box-shadow: 1px 1px 1px #00000029;
    font-family: 'Quicksand', sans-serif;
}

.box-about {
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-texts {
    width: 40%;
}

.title-tree {
    font-size: 4rem;
    color:  #00CA88;
    text-shadow: 1px 1px 1px #00000029;
    font-family: 'Quicksand', sans-serif;
}

.box-image {
    width: 40%;
}

.photo {
    width: 60%;
}