* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.main-container {
    width: 100%;
    min-height: 100vh;
}

.container-nav {
    width: 100%;
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-box {
    width: 95%;
    min-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-title {
    width: 16%;
}

.box-list {
    width: 55%;
    min-height: 3rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #00CA88;
    text-shadow: 1px 1px 1px #00000029;
    font-size: 1.625rem;
    font-family: 'Concert One', cursive;
}

.container-page {
    width: 100%;
    min-height: 100vh;
}

.box-home {
    width: 100%;
    min-height: 90vh;
    background-image: url('https://public-v2links.adobecc.com/3a8d0dae-5436-4cc5-5f6b-63d1673aec1d/component?params=component_id%3A59dc26dc-fb47-4d1c-9932-d4a5a5857aeb&params=version%3A0&token=1580231918_da39a3ee_b72a01634f5edc45f911d23ad159910086743132&api_key=CometServer1');
    background-size: cover;
    background-position-y: 38rem;
}

.home-container {
    width: 100%;
    min-height: 90vh;
    background-color: #00B77A60;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-two {
    color: white;
    font-size: 6rem;
    min-height: 8rem;
    text-shadow: 1px 1px 1px #00000029;
}

.text, .text-two {
    color: rgb(255, 255, 255);
    font-size: 1.7rem;
    width: 72%;
    display: flex;
    justify-content: center;
}

.box-buttons {
    width: 60%;
    min-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.click {
    width: 30%;
    min-height: 2.6rem;
    background-color: #00CA88;
    color: white;
    border-radius: 1.2rem;
    border-style: none;
    font-size: 1.8rem;
    text-shadow: 1px 1px 1px #00000029;
    box-shadow: 1px 1px 1px #00000029;
}

.click-two {
    width: 48%;
    min-height: 2.6rem;
    background-color: white;
    color:  #00CA88;
    border-radius: 1.2rem;
    border-style: none;
    font-size: 1.8rem;
    text-shadow: 1px 1px 1px #00000029;
    box-shadow: 1px 1px 1px #00000029;
}

.box-about {
    width: 100%;
    min-height: 90vh;
}